<p class="para">PRODUCTS</p>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="child" *ngFor ="let pro of products">
      <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">

        <!-- <div class="child" *ngFor ="let pro of products"> -->
        <img src="{{pro.imageurl}}" alt ="loading">
        <!-- </div> -->
       </button>
        
        
     
     <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">{{pro.productname}}</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body">
              <img src="{{pro.imageurl}}" alt ="loading">
              <p>PRICE &nbsp; : &nbsp; {{pro.uniteprice  | currency :'INR'}}</p>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             <button type="button" class="btn btn-primary" >ADD TO CRAFT</button>
           </div>
         </div>
       </div>
     </div>
        </div>
              
    </div>
    
  </div>

</div>

<a class= " ankar" href="http://localhost:4200/">BACK TO HOME PAGE </a>


